@defer () {
<section class="add-gateway-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Add Gateway </mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding: 1rem">
      <div class="row">
        <div class="col-9 md-col-7 sm-col-12">1</div>
        <div class="col-3 md-col-5 sm-col-12" style="height: 300px">
          <div
            class="row"
            style="
              border-left: rgba(128, 128, 128, 0.521) 2px solid;
              padding: 3px;
            "
          >
            <p>asd</p>
          </div>
        </div>
      </div>
      <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col lg-col-6">
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="form.get('name')?.hasError('required')"
                >El nombre es obligatorio</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col lg-col-6">
            <mat-form-field>
              <mat-label>Gateway Ipv4 Address</mat-label>
              <input matInput formControlName="ip_address" />
              <mat-error *ngIf="form.get('ip_address')?.hasError('required')"
                >El Ip es obligatorio</mat-error
              >
              <mat-error *ngIf="form.get('ip_address')?.hasError('pattern')"
                >El Ip es incorrecto</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </form> -->
    </mat-card-content>
  </mat-card>
</section>
}@placeholder {

<app-loading />
}
