<mat-toolbar class="mat-elevation-z3 custom-toolbar">
  <button mat-flat-button [routerLink]="['/']" style="background: #297fb8">
    <span>
      <img
        src="assets/img/gateway-icon-menu1.png"
        width="35"
        alt="Imagen"
        priority
      />
      <span>Gateway APP</span>
    </span>
  </button>

  <span class="example-spacer"></span>
</mat-toolbar>
<router-outlet />

<footer
  style="
    background-color: #297fb8;
    width: 100%;
    height: 57px;
    position: absolute;
    margin-top: 34px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
  "
>
  <span style="padding-left: 1rem">Gateway App &reg;</span>
  <span style="padding-right: 1rem">Create by Roilan Lauzardo &copy;</span>
</footer>
