.example-spacer {
  flex: 1 1 auto;
}

.custom-toolbar {
  background-color: #297fb8;
  color: white;
  position: fixed;
  z-index: 3;
  top: 0;
}

.app-container {
  display: flex;
  justify-content: center;
}

.custom-toolbar button {
  height: 100%;
}

.custom-toolbar button span {
  color: white;
  display: flex;
  gap: 7px;
}

.custom-toolbar button span span {
  position: relative;
  top: 3px;
  font-size: 20px;
}
