<section class="home-header-container">
  <div class="bg-header-home"></div>
  <div class="presentation-header">
    <div class="presentation-header-content">
      <h1>Gateway Managing Projects</h1>
      <p>Practice Angular</p>
      <button mat-raised-button>Go to Gateway</button>
    </div>
  </div>
</section>

<section class="home-info">
  <div class="row">
    <div class="center">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="router"
      />
      <div style="width: 60%">
        <h2>View List of Gateway</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quam
          eligendi labore magni adipisci magnam quos pariatur?
        </p>
      </div>
    </div>
  </div>
</section>
